body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.j30 {
    background-color: #fff;
}

.j31 {
    border-radius: 4px;
}

.j33 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.j67 {
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.j114 {
    margin: 0;
    display: block;
}

.j122 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.j130 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.j141 {
    margin-bottom: 0.35em;
}

.j149 {
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.j152 {
    color: #2196f3;
}

.j172 {
    padding: 7px 8px;
    min-width: 64px;
    font-size: 0.8125rem;
    min-height: 32px;
}

.j405 {
    overflow: hidden;
}

.j406 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.j407 {
    display: flex;
    padding: 8px 12px;
    box-sizing: border-box;
    align-items: center;
}

.j408 {
    margin: 0 4px;
}

.j409 {
    max-width: 345px;
}

.j410 {
    height: 140px;
}

.j411 {
    width: 100%;
    display: block;
    text-align: inherit;
}

.j413 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
    background-color: currentcolor;
}

.j414 {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.j439 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

/* Bottom Navigation */

.k67 {
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.k70 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.k401 {
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 10px;
}

.k402 {
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.k403 {
    flex: 1;
    color: rgba(0, 0, 0, 0.54);
    min-width: 80px;
    max-width: 168px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
}

.k403.k404 {
    color: #2196f3;
    padding-top: 6px;
}

.k406 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.k407 {
    opacity: 1;
    font-size: 0.75rem;
    transition: font-size 0.2s, opacity 0.2s;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition-delay: 0.1s;
}

.k407.k404 {
    font-size: 0.875rem;
}

.k418 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

